.entry-edit {
    width         : 49%;
    float         : left;
    padding-right : 1%;
}

.graph {
    display        : inline-block;
    width          : 145px;
    margin         : 1em 0 1em 1px;
    border         : 0;
    vertical-align : top;
}

.graph table {
    width    : 100%;
    height   : 150px;
    border   : 0;
    padding  : 0;
    margin   : 5px 0 0 0;
    position : relative;
}

.graph td {
    vertical-align : middle;
    border         : 0;
    padding        : 0 0 0 5px;
}

.graph .bar {
    width      : 25px;
    text-align : right;
    padding    : 0 2px;
    color      : #fff;
}

.graph .total {
    width      : 34px;
    text-align : center;
    padding    : 0 5px 0 0;
}

.graph .total div {
    border       : 1px dashed #888;
    border-right : 0;
    height       : 99%;
    width        : 12px;
    position     : absolute;
    bottom       : 0;
    left         : 17px;
    /*z-index      : -1;*/
}

.graph .total span {
    background  : #fff;
    font-weight : bold;
}

.graph .actual {
    text-align  : right;
    font-weight : bold;
    padding     : 0 5px 0 0;
}

.graph .red {
    background : #ee0000;
}

.graph .green {
    background : #00cc00;
}

.graph .brown {
    background : #8B4513;
}

.pheader {
    /*background-color : #9999cc;*/
    font-weight : bold;
    /*color            : #000;*/
}

.op-top {
    margin-top : 1.5em;
}

.datagrid {
    overflow: scroll;
}

.datagrid table tbody td {
    padding     : 2px;
    text-align  : center;
    width       : 50%;
    white-space : nowrap;
}

.datagrid table tbody td.e {
    background-color : #ccccff;
    font-weight      : bold;
    color            : #000;

}

.datagrid table tbody td.v {
    background-color : #cccccc;
    color            : #000;
}
